@mixin transform($func) {
  -moz-transform: $func;
  -webkit-transform: $func;
  -o-transform: $func;
  -ms-transform: $func;
  transform: $func;
}

@mixin box-shadow($func) {
    -webkit-box-shadow: $func;
    -moz-box-shadow:    $func;
    box-shadow:         $func;
}

@mixin border-radius($func) {
    border-radius:         $func;
    -moz-border-radius:    $func;
    -webkit-border-radius: $func;
}

