@import "meyer-reset";
@import "typography";
@import "css3";
@import "util";

$background: white;
$link-color: #C00;

body {
    margin-left:  2%;
    margin-right: 2%;
    max-width: 960px;
    margin: 0 auto;
    background-color: $background;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
}

header {
    margin-bottom: 0.8em;
    @include clearfix;
    position:relative;

    a {
        font-size: 140%;
        color: #788888;
        &:hover {
            color: #cccccc;
        }
    }
    
    .logo {
        font-size: 2em;
        float: left;
    }
    .subtitle {
        font-size: small;
        text-align: right;
        color: #cccccc;
        float: right;

        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@mixin linear-gradient($color-stops, $start: top, $image: false) {
  // Firefox's gradient api is nice.
  // Webkit's gradient api sucks -- hence these backflips:
  $background: unquote("");
  @if $image {
    $background: $image + unquote(", "); }
  $start: unquote($start);
  $end: opposite-position($start);
  background-image: #{$background}linear-gradient($start, $color-stops); }


body > nav {
    background-color: #eeeece;
    font-size: 120%;
    padding: 8px;


    @include border-radius(4px);

    ul {
        list-style: none;
        margin: 0;

        li {
            padding: 4px;
            display: inline;
            .active {
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
}

.content {
    margin-top: 10px;
    margin-left: 10px;

    ul.sites li {
        margin-bottom: 2em;
        list-style: none;

        a {
        display: table;
            img {
                display: table-cell;
            }
            .info {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
                width:100%;

                .title {
                    font-size: 140%;
                }
                .description {
                    font-size: 80%;
                }
            }
        }
    }


    section {
        .entry-body {
            margin-left: 10px;
        }
    }
}

body > footer {
    font-size: small;
    text-align: right;
    color: #cccccc;

    a {
        color: #cccccc;
        font-weight: bold;
        &:hover {
            color: #999999;
        }
    }

    p {
        margin-bottom: 2px;
    }
}

@media screen and (max-device-width: 480px) {
    body {
        width: 96%;
    }
}

