body {
    font-family: 'Helvetica Neue',Helvetica,Tahoma,'MS JhengHei',Meiryo,'Hiragino Kaku Gothic ProN','MS PGothic','Apple SD Gothic Neo','Malgun Gothic','맑은고딕','Nanum Gothic',NanumGothic,'나눔고딕',Dotum,'돋움','Arial Unicode MS',sans-serif;
}

.container {
    max-width: 400px;
    margin: auto;
}

.pane {
    margin-top: 20px;
    margin-bottom: 20px;
}
